*.iml
.gradle
/local.properties
/mobile/.idea/caches
/mobile/.idea/libraries
/mobile/.idea/modules.xml
/mobile/.idea/workspace.xml
/mobile/.idea/navEditor.xml
/mobile/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
